@import url('https://fonts.googleapis.com/css2?family=Bevan&family=Farro:wght@300&family=Glory:ital,wght@1,800&family=Noto+Sans+Arabic:wght@200&family=Poppins:wght@200&family=Rowdies:wght@700&family=Vazirmatn:wght@200&family=Yusei+Magic&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}


*, *:before , *:after{
    box-sizing: inherit;
}


body{
    font-family: Vazirmatn;
}


.container{
    background-color:hotpink;
    max-width: 1200px;
    height:300px;
    margin:0 auto; 
}


h1{
    color: #fff;
    text-align: center;
    font-size: 16px;
}


/*
- Media Queries
*/


@media onscreen and (max-width: 1200px){
    .container{
        max-width: 992px;
    }   
}


@media only screen and (max-width: 992px){
    .container{
        max-width: 768px;
    }
}


@media only screen and (max-width: 768px){
    .container{
        max-width: 576px;
    }
}


@media only screen and (max-width: 576px){
    .container{
        max-width: 100%;
    }
}